.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.label{
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.amount {
  width: 3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  color: white;
  border: 1px solid #8a2b06;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover,
.btn:active {
  background-color: #641e03;
  border-color: #641e03;
}
