.btn{
    background-color: rgb(71, 71, 38);
    font-weight: bold;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    color: azure;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.icon {
    width: 1.35rem;
    height: 1.35rem;
}


.totalItems {
    background-color: tomato;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
    width: 40px;
    height: 25px;
    text-align: center;
    line-height: 24px;
    margin-left: 8px; 
}